.simpleDl__wrap {
	border-radius: 10px;
	background: #fafafa;
	box-shadow:
		inset 5px 5px 15px #d5d5d5,
		inset -5px -5px 15px #ffffff;
	border-radius: 10px;
	padding: 16px 24px;
}

.simpleDl__wrap .titleB {
	text-align: left;
}

.simpleDl__item {
	display: flex;
	align-items: center;
	line-height: 1.75;
}
.simpleDl__item:not(:first-of-type) {
	margin-top: 4px;
	padding-top: 4px;
	border-top: 1px solid #d5d5d5;
}

.simpleDl__item dt {
	width: 50%;
	text-align: left;
}

.simpleDl__item dd {
	width: 50%;
	text-align: left;
}
